@import "../../../style/variables.scss";

.checkout {
  font-family: "Open Sans";
  font-size: 20px;

  // header
  &__header {
    border-bottom: 1px solid $clr-porcelain-main;
  }
  &__nav {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & a {
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
      color: inherit;
    }
  }
  & .bagIcon {
    width: 24px;
    height: 24px;
    color: $clr-yellow-main;
  }

  // main

  &__main {
    display: flex;
    // justify-content: space-between;
  }
  &__confirmation {
    flex-basis: 55%;
    border-right: 1px solid $clr-porcelain-main;
    padding: 38px 38px 38px 0;
    height: 100vh;
  }
  &__preview {
    flex-basis: 45%;
    height: 100vh;
  }
  & input,
  & select {
    padding: 14px 12px;
    font-size: 14px;
    // color: $clr-text-grey;
    &:focus {
      border-color: $clr-yellow-main;
      box-shadow: 0 0 0 0.2rem #fed0384e;
    }
    &::placeholder {
      color: $clr-text-grey;
    }
  }

  &__submit-btn {
    width: 100%;
  }

  & .invalid-feedback,
  & .valid-feedback {
    font-size: 14px;
  }
}
