@import "../../../style/variables.scss";
.admin {
  width: 100%;
  min-height: 100vh;
  position: relative;

  &__container {
    max-width: 1840px;
    max-height: 100%;
    padding: 50px 20px;
    margin: 0 auto;
    @media (max-width: 420px) {
      padding: 30px 20px;
    }
  }
  & h2 {
    @media (max-width: 550px) {
      font-size: 20px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 420px) {
      flex-direction: column-reverse;
      align-items: start;
    }
    & h1 {
      @media (max-width: 550px) {
        font-size: 22px;
      }
    }
  }
  &__nav {
    display: flex;
    @media (max-width: 900px) {
      display: none;
    }
    & a {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: none;
      color: $clr-text-grey;
      transition: color 0.3s;

      border: 1px solid #dee2e600;
      padding: 5px 10px 14px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      &:hover {
        color: $clr-maeked-text-brown;
      }
    }
    & .active {
      color: $clr-maeked-text-brown;
      border: 1px solid #dee2e6;
      padding: 5px 10px 14px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        top: 24px;
        left: 0;
        height: 20px;
        background-color: rgb(255, 255, 255);
      }
    }
  }
  &__burger {
    display: none;
    cursor: pointer;
    @media (max-width: 900px) {
      display: block;
    }
  }

  &__goods-container,
  &__posts-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;

    @media (max-width: 1000px) {
      flex-direction: column;
    }
  }

  & button {
    @media (max-width: 900px) {
      margin-left: auto;
      margin-right: 20px;
    }
    @media (max-width: 550px) {
      font-size: 12px;
    }
    @media (max-width: 420px) {
      margin: 10px 0;
    }
  }
}
