@import "../../../style/variables.scss";

.post-page {
  padding: 213px 0 80px;
  font-family: "Open Sans" !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  @media (max-width: 600px) {
    padding: 180px 0 60px;

    & h3,
    h2 {
      font-size: 22px !important;
    }
  }

  & .main-container {
    display: flex;
    gap: 15px;
    @media (max-width: 1000px) {
      gap: 25px;
    }
    @media (max-width: 740px) {
      flex-direction: column-reverse;
    }
  }

  &__content {
    flex-basis: 66%;
    @media (max-width: 1000px) {
      flex-basis: auto;
    }
  }

  &__post {
    opacity: 1;
    transition: 0.2s;

    &.loading {
      opacity: 0;
    }
  }

  &__header {
    border-bottom: 1px solid rgba(128, 128, 128, 0.151);
  }
  &__header-image {
    width: 100%;
    height: 136px;
    display: block;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    & h2 {
      font-family: "Arvo";
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 28px;
      color: $clr-text-white;

      padding: 0 15px;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      @media (max-width: 470px) {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  &__meta {
    margin: 10px 0;
    font-size: 12px;
    line-height: 18px;
    color: $clr-text-grey;
  }

  &__body {
    margin-top: 15px;

    & p {
      margin-bottom: 20px;
    }
  }
  &__subtitle {
    color: $clr-text-grey;
    margin-bottom: 15px;
  }
  &__nav {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    & button {
      padding: 10px 15px;
      @media (max-width: 450px) {
        padding: 2px;
        width: 30px;
        height: 30px;
        position: relative;
        &::before {
          content: "-";
          background-image: url("../../../resources/icons/slider-arrows/left-arrow.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          width: 20px;
          height: 20px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &:last-child::before {
          content: "";
          background-image: url("../../../resources/icons/slider-arrows/right-arrow.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          width: 20px;
          height: 20px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        & span {
          display: none;
        }
      }
    }
  }
}

.recent-posts {
  flex-basis: 33%;
  padding: 0 10px;
  @media (max-width: 1000px) {
    flex-basis: auto;
  }
  & ul {
    @media (max-width: 1000px) {
      margin-top: 20px;
    }
  }
}
