@import "../../style/variables.scss";

.saleNavbarDropdown {
  //   padding: 20px 20px;
  font-family: Montserrat;
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    @media (max-width: 1050px) {
      flex-direction: column;
      gap: 0;
    }
    & li {
      border-bottom: 1px solid rgba(128, 128, 128, 0.394);
      &:last-child {
        border: none;
      }
    }
  }
  &__card {
    max-width: 250px;
    height: 350px;
    // max-width: 338px;
    background-color: $clr-text-white;
    padding: 30px 20px;
    cursor: pointer;
    @media (max-width: 1050px) {
      display: flex;
      max-width: 100%;
      gap: 10px;
      height: auto;
      padding: 20px 0;
    }
    @media (max-width: 500px) {
      flex-direction: column;
      align-items: center;
      padding: 10px 0;
    }
  }
  &__picture {
    // border: 1px solid red;
    height: 171px;
    margin-bottom: 50px;
    @media (max-width: 1050px) {
      flex: 1 1 40%;
      margin: 0;
    }
    @media (max-width: 500px) {
      flex: 1 1 20%;
      height: auto;
      // height: 70px;
      min-width: 70px;
      width: 200px;
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content-container {
    flex: 1 1 50%;
    @media (max-width: 500px) {
      flex: 1 1 80%;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    @media (max-width: 1050px) {
      flex-direction: column-reverse;
      align-items: start;
      gap: 0;
    }
  }
  &__title {
    font-family: Arvo;
    font-size: 16px;
    font-weight: 400;
    color: $clr-text-black;
    transition: color 0.2s;
    letter-spacing: 0.1rem;

    // розмір блока має бути фіксований
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      color: $clr-maeked-text-brown;
    }
  }
  &__price {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 14px;
  }
  &__text {
    font-family: Open Sans;
    font-size: 10px;
    color: #29292980;
    margin: 20px 0 10px;
    letter-spacing: 0.1rem;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    @media (max-width: 1050px) {
      margin: 0;
      -webkit-line-clamp: 3;
    }
  }
  & a {
    margin: 0;
    padding: 10px 0;
    @media (max-width: 1050px) {
      padding: 5px 0;
    }
  }
}
