@import "../../../style/variables.scss";

.blog {
  padding: 213px 0 80px;
  font-family: "Open Sans" !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  @media (max-width: 600px) {
    padding: 180px 0 60px;

    & h1,
    & h2 {
      font-size: 22px !important;
    }
  }

  & .main-container {
    display: flex;
    gap: 15px;
    @media (max-width: 1000px) {
      gap: 25px;
    }
    @media (max-width: 740px) {
      flex-direction: column-reverse;
    }
  }

  .recent-posts {
    flex-basis: 33%;
    padding: 0 10px;
    @media (max-width: 1000px) {
      flex-basis: auto;
    }
    & ul {
      @media (max-width: 1000px) {
        margin-top: 20px;
      }
      @media (max-width: 740px) {
        margin-top: 0;
      }
    }
  }

  &__content {
    flex-basis: 66%;
    display: flex;
    flex-direction: column;
    @media (max-width: 1000px) {
      flex-basis: auto;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    @media (max-width: 500px) {
      flex-direction: column;
      gap: 20px;
      align-items: start;
    }
    & h1 {
      font-family: "Arvo";
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 40px;
    }
  }
}

// ----post (View)
.post {
  opacity: 1;
  transition: 0.2s;
  margin-bottom: 30px;
  padding-bottom: 21px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.151);
  &:last-child {
    border-bottom: 4px solid rgba(128, 128, 128, 0.151);
  }

  &.loading {
    opacity: 0;
  }

  &__header-image {
    width: 100%;
    height: 136px;
    display: block;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 740px) {
      height: 200px;
    }
  }
  &__meta {
    margin: 10px 0;
    font-size: 12px;
    line-height: 18px;
    color: $clr-text-grey;
  }

  &__body {
    & a {
      text-decoration: none;
      color: inherit;
      transition: color 0.2s;
      &:hover {
        color: $clr-text-grey;
      }
    }
    & h2 {
      font-family: "Arvo";
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 40px;
    }
    & P {
      margin: 15px 0 20px;
    }
  }
  &__read-more {
    padding: 15px 30px;
    @media (max-width: 400px) {
      padding: 10px 20px;
    }
  }
}
