// text
$clr-text-white: #ffffff;
$clr-text-white-80: #ffffffb9;
$clr-maeked-text-brown: #bb7311;
$clr-text-black: #292929;
$clr-text-grey: #9fa3a7;
$clr-blue: #337ab7;

// backgrounds
$clr-yellow-main: #ffc80a;
$clr-yellow-drop: #f3c009;
$clr-porcelain-main: #e5e8ea;
