@import "../../style/variables.scss";
.custom-button {
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: $clr-text-black;
}

.main-white {
  padding: 20px 45px;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: 700;
  letter-spacing: 1.1px;
  text-align: center;
  vertical-align: middle;
  &:hover {
    background-color: $clr-text-black;
    color: $clr-text-white;
  }
  @media (max-width: 850px) {
    padding: 16px 35px;
    font-size: 10px;
  }
  @media (max-width: 650px) {
    padding: 5px 10px;
  }
}

.main-yellow {
  border: 2px solid $clr-yellow-main;
  background-color: $clr-yellow-main;
  color: $clr-text-white;
  padding: 20px 45px;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: 700;
  letter-spacing: 1.1px;
  text-align: center;
  vertical-align: middle;

  &:disabled {
    opacity: 0.6;
    &:hover {
      background-color: $clr-yellow-main;
      color: $clr-text-white;
      border: 2px solid $clr-yellow-main;
    }
  }

  &:hover {
    border: 2px solid $clr-maeked-text-brown;
    background-color: $clr-maeked-text-brown;
  }
  @media (max-width: 850px) {
    padding: 16px 35px;
    font-size: 10px;
  }
  @media (max-width: 650px) {
    padding: 5px 10px;
  }
}

.yellow-stroke,
.white-stroke,
.grey-stroke,
.grey-stroke__black-hover {
  border: 2px solid $clr-yellow-main;
  background: transparent;
  color: $clr-text-white;
  padding: 10px 26px;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: 700;
  letter-spacing: 1.1px;
  text-align: center;
  vertical-align: middle;
  &:hover {
    border: 2px solid $clr-maeked-text-brown;
    background-color: $clr-maeked-text-brown;
  }

  @media (max-width: 850px) {
    padding: 8px 24px;
    font-size: 10px;
  }
  @media (max-width: 650px) {
    padding: 5px 10px;
  }
}

.white-stroke {
  border: 2px solid $clr-text-white;
}

.grey-stroke {
  border: 2px solid $clr-text-grey;
  color: $clr-text-black;
  &:hover {
    color: $clr-text-white;
  }
}

.grey-stroke__black-hover {
  // display: none;
  border: 2px solid $clr-text-grey;
  color: $clr-text-black;
  padding: 10px 0;
  width: 150px;
  &:hover {
    color: $clr-text-white;
    background-color: $clr-text-black;
    border: 2px solid $clr-text-black;
  }
  @media (max-width: 1150px) {
    // display: block;
    font-size: 10px;
  }
  @media (max-width: 1000px) {
    width: 130px;
    font-size: 10px;
  }
  @media (max-width: 850px) {
    width: 110px;
    font-size: 10px;
  }
}
