@import "../../style/variables.scss";
.header-wrapper {
  width: 100%;
  max-width: 1920px;
  background-color: $clr-yellow-main;
  height: 133px;
  // padding-top: 43px;
  position: absolute;
}

.header {
  width: 100%;
  max-width: 1920px;
  background-color: $clr-yellow-main;
  height: 90px;
  // box-shadow: -2px 3px 3px 0px rgba(0, 0, 0, 0.11);
  position: absolute;
  border-top: 1px solid #fbfdff67;
  top: 43px;
  z-index: 999;
  &__logo {
    width: 200px;
    padding: 0;
    @media (max-width: 400px) {
      width: 60%;
    }
  }
  &.move {
    box-shadow: -2px 3px 3px 0px rgba(0, 0, 0, 0.11);
    position: fixed;
    top: 0;
  }
  // & nav {
  //   @media (max-width: 1050px) {
  //     position: static !important;
  //     width: 100%;
  //   }
  // }
}

// dropdown
.nav {
  @media (max-width: 1050px) {
    display: none;
    // width: 50%;
    // position: absolute;
    // top: 90px;
    // left: -200%;
    // transition: left 0.3s;
  }
  // &.show {
  //   left: 0;
  // }
}

.nav-list {
  min-width: 200px;
  // max-width: 750px;
  @media (max-width: 1050px) {
    width: 100%;
    padding: 50px 40px;
    background-color: $clr-yellow-main;
    height: 92vh;
    flex-direction: column;
    align-items: start !important;
    justify-content: flex-start !important;
    gap: 80px;
    overflow-x: auto;
    box-shadow: 3px -1px 3px 0px rgba(0, 0, 0, 0.11);
  }
}

.dropdown {
  display: inline-block;
  height: 100%;
  display: flex;
  align-items: center;

  cursor: pointer;
  margin-right: clamp(1rem, 0.825rem + 0.88vw, 1.875rem);
  & a {
    text-decoration: none;
    color: $clr-text-white;
  }
  & h4 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 3px;
  }
  &:last-child {
    margin-right: 0px;
  }
}

.arrow-down {
  width: 12px;
}

.dropdown-child {
  // height: fit-content;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: $clr-yellow-drop;
  width: 100%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 3px;
  padding: 50px 30px;
  top: 89px;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  // box-shadow: -1px -1px 12px 0px rgba(168, 17, 17, 0.03);
  transition: all 0.3s;

  &__home {
    width: 140px;
    top: 60px;
    padding: 20px;
  }
  &__home,
  &__catalog {
    text-transform: uppercase;
  }

  & a {
    color: $clr-text-white;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
    transition: 0.2s;
    &:hover {
      color: $clr-maeked-text-brown;
    }
  }
}

.dropdown h4,
.dropdown svg {
  transition: 0.3s;
}

.dropdown:hover h4,
.dropdown:hover svg {
  color: $clr-maeked-text-brown;
}

.basket {
  cursor: pointer;
  @media (max-width: 1050px) {
    margin-left: auto;
  }
}
.basket-count {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  color: $clr-text-white;
}
.burger-icon {
  margin-left: 10px;
  color: $clr-text-black;
  cursor: pointer;
  @media (min-width: 1050px) {
    display: none;
  }
}
.show {
  opacity: 1;
  visibility: visible;
}
