@import "../../style/variables.scss";

.addedToCart {
  font-family: "Arvo";
  & h2 {
    font-size: 28px;
    margin-top: 15px;
    @media (max-width: 991px) {
      font-size: 24px;
      margin-bottom: 10px;
    }
  }
  &__container {
    width: 100%;
    background-color: $clr-text-white;
    display: flex;
    align-items: center;
    gap: 9%;
  }
  &__photo {
    flex-basis: 35%;
  }
  &__content {
    // flex-basis: 40%;
  }
  & h3 {
    font-size: 18px;
    margin-bottom: 15px;
  }

  &__buttons {
    margin-top: 15px;
    display: flex;
    gap: 5px;
    @media (max-width: 991px) {
      flex-direction: column;
      max-width: 200px;
    }
    & button {
      text-transform: none;
      font-size: 12px;
      letter-spacing: 0;
      font-family: "Montserrat";
      padding: 10px 20px;
      // width: fit-content;
    }
  }
}
